/* global settings*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: poppins, sans-serif;
  background-color: #fff;
  color: #444;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  background-color: #03375b;
  color: #fff;
}

input {
  outline: none;
  border-radius: 1rem;
  font-size: 2.5rem;
  padding: 2rem 2rem;
  border: 0.01px solid #e5e4e4;
  color: #444;
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); */
}

.card {
  margin: 0 2rem;
  padding: 4rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  gap: 3rem;
}

h1 {
  font-size: 5rem;
  color: #03375b;
  font-weight: bold;
  align-self: center;
}

.new-task {
  display: flex;
  justify-content: center;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.task {
  border-radius: 1rem 0 0 1rem;
}

.add-btn {
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #e5e4e4;
}

.all {
  border-radius: 1rem 0 0 1rem;
}

.active {
  border-radius: 0;
}

.done {
  border-radius: 0 1rem 1rem 0;
}

.task-list {
  display: flex;
  flex-direction: column;
}

.del_btn {
  margin-left: auto;
  background-color: #ffffff;
  color: #03375b;
  font-size: 1.6rem;
}

.task_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 2.2rem;
  background-color: #fff;
  padding: 1.5rem;
}
