/* global settings*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "poppins", sans-serif;
  background-color: #fff;
  color: #444;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 1rem;
  background-color: #03375b;
  color: #fff;
}

input {
  outline: none;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 1rem;
  border: 0.01px solid #e5e4e4;
  color: #444;
}

.card {
  height: 100%;
  padding: 3.5rem;
  margin: 2rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  gap: 3rem;
  min-width: 10rem;
  max-width: 60rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 4rem;
  color: #03375b;
  font-weight: bold;
  align-self: center;
}

.new-task {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  flex: 0 1 0;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  flex: 1;
}

.task {
  border-radius: 1rem 0 0 1rem;
  width: 70%;
}

.add-btn {
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #e5e4e4;
}

.all {
  border-radius: 1rem 0 0 1rem;
}

.active {
  border-radius: 0;
}

.done {
  border-radius: 0 1rem 1rem 0;
}

.all,
.active,
.done {
  font-size: 1.6rem;
  padding: 0.8rem;
}

.task-list {
  display: flex;
  flex-direction: column;
}

.del_btn {
  margin-left: auto;
  background-color: #ffffff;
  color: #03375b;
  font-size: 1.6rem;
  padding: 0;
}

.task_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 2.2rem;
  background-color: #fff;
  padding: 1.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e4e4 #e5e4e4 transparent #e5e4e4;
}

.check_size {
  accent-color: #03375b;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

.task_container:first-child {
  border-radius: 1rem 1rem 0 0;
}

.task_container:last-child {
  border-radius: 0 0 1rem 1rem;
  border-bottom: 1px solid #e5e4e4;
}
